html{
	background-color: #F5F5F5;
}
#first-container{
	margin-top:100px;
	text-align: center;
	margin-bottom: 50px;
}
#logo{
	margin-top: -50px;
}
#second-container{
	margin-bottom: 50px;
}
#first-container-normal{
	margin-top:20px;
	text-align: center;

}
.container{
	padding-bottom: 30px;
}
tfoot {
    display: table-header-group;
}

.leader-board-item {
	border-top: 5px solid #E84C3D;
	border-bottom: 1px solid #BEC3C7;
	display: block;
	padding: 0px;
	background-color: #ffffff;
	margin-bottom: 10px;
}
.score-box{
	text-align: center;
	color: #E84C3D;
	font-size: 35px;
	font-family: sans-serif;
	font-weight: bold;
	background-color: #ffffff;
	padding: 10px;
	padding-left: 20px;
	float: left;
}
.name-box{
	float: left;
	margin-left: 20px;
	padding:10px;
}
.participant-name{
	font-weight: bold;
	font-family: sans-serif;
	text-transform: uppercase;
	font-size: 20px;
}

.participant-college{
	color: #1ABBB3;
	font-family: sans-serif;
	text-transform: uppercase;
	font-size: 14px;
}
.activity-result-page{
	background-color: #F0F0EE;
}